# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

.idea/
*.iml
*.iws
*.ipr
out/

.classpath
.project
.settings/
bin/

.vscode/

nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

.DS_Store
Thumbs.db
desktop.ini

*.log

.*
